/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'BUILD_INTERVALS' {
        ext.when = { meta.run_intervals == true }
    }
    withName: 'BWAMEM1_INDEX' {
        ext.when = { meta.run_bwamem1 == true }
    }
    withName: 'BWAMEM2_INDEX' {
        ext.when = { meta.run_bwamem2 == true }
    }
    withName: 'DRAGMAP_HASHTABLE' {
        ext.when = { meta.run_dragmap == true }
    }
    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        ext.when = { meta.run_createsequencedictionary == true }
    }
    withName: 'MSISENSORPRO_SCAN' {
        ext.when = { meta.run_msisensorpro == true }
    }
    withName: 'SAMTOOLS_FAIDX' {
        ext.when = { meta.run_faidx == true }
    }
    withName: 'TABIX_BGZIPTABIX' {
        ext.when = { meta.run_bgziptabix == true }
    }
    withName: 'TABIX_TABIX' {
        ext.when = { meta.run_tabix == true }
    }
}
